<!DOCTYPE html>
<html>
<head>
  <title><% yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id = "container">
		<%=link_to 'Mocks Online Wear', root_path%>
		<div id= "header">
			
		</div>
		<div id = "nav">
		<ul>
			<li>
				<%= link_to 'Home', root_path%>
			</li>
		</ul>
	</div><!--end nav-->
	<div id ="content">
		<%flash.each do |key,value|%>
		<p id:"message"><%value%></p>
		<%end%>
	<%= yield %>
	</div><!--end content-->
	<div id = "footer">
		&copy; Mocks Online Shooping <%= Date.today.day%>
	</div>

</div>
</body>
</html>
